mode: allelic # or non-allelic
fastq_dir: /path/to/fastq/dir
genome: /path/to/ref/genome.fa.gz  # compressed Fasta (bgzip) with index (samtools faidx)
ngenome: path/to/nmasked/genome.fa.gz # compressed Fasta for N-masked genome / default genome. Used to generate non-phased results.
variants: /path/to/variants.vcf.gz # compressed VCF (bgzip) with index (tabix)
hap_1: HAPLOTYPE_ID_1              # as defined in VCF file
hap_2: HAPLOTYPE_ID_2              # as defined in VCF file
bwa_parameters:
  diploid_genome: "-SPu -T0"
  nmask_genome: "-5SP -T0"
binsize: 10000
correctionMethod: ICE
nBinsToMerge: 0
findTADParams: '--thresholdComparisons 0.01'
distVsCountParams: 
