fastq_dir: /path/to/fastq/dir
genome: /paht/to/ref/genome.fa.gz  # compressed Fasta (bgzip) with index (samtools faidx)
variants: /path/to/variants.vcf.gz # compressed VCF (bgzip) with index (tabix)
hap_1: HAPLOTYPE_ID_1              # as defined in VCF file
hap_2: HAPLOTYPE_ID_2              # as defined in VCF file
pairtools_parse_params: "--min-mapq 0 --add-columns XA,NM,AS,XS --drop-sam --walks-policy all"
